.scroll-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background: #000; 
  color: #fff; 
  font-size: 6rem;
  
  box-sizing: border-box;
  padding: 10px 0;
  font-family: 'offbit',sans-serif;
  z-index: 0;
  letter-spacing: 5px;
}

.scroll-text {
  display: inline-block;
  padding-left: 100%; 
  animation: scroll-left 70s linear infinite;
 
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}


@media (max-width: 768px) {
  .scroll-container {
    font-size: 3rem;
    letter-spacing: 1px;
  }

}